name: Generate
permissions:
  checks: write
  contents: write
  statuses: write
  pull-requests: write
"on":
  workflow_dispatch:
    inputs:
      force:
        description: Force generation of SDKs
        type: boolean
        default: false
  schedule:
    - cron: 0 0 * * *
jobs:
  generate:
    uses: speakeasy-api/sdk-generation-action/.github/workflows/sdk-generation.yaml@v14
    with:
      force: ${{ github.event.inputs.force }}
      languages: |
        - go
      mode: pr
      openapi_doc_auth_header: Authorization
      openapi_docs: |
        - https://raw.githubusercontent.com/smartcar/api-schema/master/speakeasy/openapi.yaml
      speakeasy_version: latest
      create_release: true
    secrets:
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
      openapi_doc_auth_token: ${{ secrets.SPEC_TOKEN }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
